/*
 * LODSummaries
 * Copyright (C) 2018  INRIA Emmanuel Pietriga <emmanuel.pietriga@inria.fr>
 * Copyright (C) 2018  INRIA Marie Destandau <marie.destandau@inria.fr>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

.node {
  font: 300 11px sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}

/*------------------------------*/

div#proplist {
    float:left;
    width:20em;
    height:500px;
    border:1px solid #DDD;
    margin:0 5px;
}

div#propListPane {
    cursor: default;
    border:1px solid #EEE;
    width:auto;
    height:85%;
    overflow-x: auto;
    overflow-y: auto;
}

div.proplistitem {
    width:100%;
}

.odd {
    background-color: #FFF;
}

.even {
    background-color: #EEE;
}

div.legend {
    float:left;
    margin:0 .5em;
    border:1px solid #AAA;
    width:10px;
    height:10px;
}

div#heb {
    height:800px;
    overflow:hidden;
    border:1px solid #DDD;
    margin:0 5px;
}

div#status {
    text-align:right;
}

div#commands {
    color:#DDD;
}

#jsonSelect {
    position: fixed;
    top: 30px;
    right: 30px;
}
#typeArcsG *{
  cursor: default;
}

#autocomplete {
  padding: 0 0 10px 0;
}
.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  border: 2px solid #0097cf;
}
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-hint{
  color:#999;
}
