/*
 * LODSummaries
 * Copyright (C) 2018  INRIA Emmanuel Pietriga <emmanuel.pietriga@inria.fr>
 * Copyright (C) 2018  INRIA Marie Destandau <marie.destandau@inria.fr>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
h2 {
    text-align: center;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node.highlight circle {
  stroke: #d78383;
  stroke-width: 3px;
}

.nodeLb text {
    fill:#555;
    cursor: default;
}

.nodeLb.highlight text {
    fill:#222;
}

.dragging {
    stroke:#111;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

div#proplist {
    float:left;
    width:20em;
    height:500px;
    border:1px solid #DDD;
    margin:0 5px;
}

div#propListPane {
    cursor: default;
    border:1px solid #EEE;
    width:auto;
    height:85%;
    overflow-x: auto;
    overflow-y: auto;
}

div.proplistitem {
    width:100%;
}

.odd {
    background-color: #FFF;
}

.even {
    background-color: #EEE;
}

div.legend {
    float:left;
    margin:0 .5em;
    border:1px solid #AAA;
    width:10px;
    height:10px;
}

div#nld {
    height:500px;
    overflow:hidden;
    border:1px solid #DDD;
    margin:0 5px;
}

.highlight {
    stroke-width:3px;
    stroke-opacity: 1;
}

#jsonSelect {
    position: fixed;
    top: 30px;
    right: 30px;
}
